.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0% 10% 5% 10%;
}
h1{
  margin: 20% 0 0 0;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: calc(10px + 3vmin);
}

button{
  padding: 4%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.text-header{
  width: 60%;
  font-size: calc(10px + 1vmin);
  margin: 0 0 10% 0;
}
ul{
  margin: 10% 0 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
ul > li > img{
  width: 100px;
}
ul > li > p{
  color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
